.heigth-width-100 {
  --height: 100vh !important;
  --width: 100vw !important;
}

.heigth-width-95 {
  --height: 95vh !important;
  --width: 100vw !important;
}

.heigth-width-90 {
  --height: 90vh !important;
  --width: 90vw !important;
}

.heigth-width-85 {
  --height: 85vh !important;
  --width: 85vw !important;
}

.heigth-width-80 {
  --height: 80vh !important;
  --width: 80vw !important;
}
